body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #3a3a3a;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    color:#3a3a3a;
}

#back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#back-button:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    clear: both;
}

.cards-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 25%;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.arrow {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}
